<section>
  <div class="container">

    <div class="row col-md-12 text-center">
      <h1>Browse Days</h1>
    </div>

    <div class="row">
      <% @days.each do |day| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h4><%= day.name %></h4>
            <p><%= day.description %></p>
            <p>
              <%= link_to "View", day_path(day.id), class: "btn btn-primary btn-block" %>
            </p>
            <p>
              <i class="fa fa-usd text-success"></i><%= day.total_cost %>
              <i class="fa fa-clock-o text-primary"></i><%= day.total_time %>h
            </p>
            <p>
              <% if day.user %>
                <small>By: <b><%= day.user.username %></b></small>
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</section>
