<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1> <%= @day.name %></h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p> <%= @day.description %></p>
        <% if not @day.activities.empty? %>
          <p><b>Cost:</b> <%= number_to_currency(@day.total_cost) %></p>
          <p><b>Difficulty:</b> <%= render "rating", rating: @day.average_difficulty %></p>
        <% end %>
        <% if not @day.reviews.empty? %>
          <p><b>Rating:</b> <%= render "rating", rating: @day.average_rating %></p>
        <% end %>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <% @activities.each_with_index do |activity, index| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading<%= index %>">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapseOne">
                  <%= activity.time.strftime("%I:%M %p") %> - <%= activity.name %>
                </a>
                <div class="pull-right">
                  <% if user_signed_in? && current_user.id == @day.user.id %>
                    <%= link_to edit_day_activity_path(@day, activity), class: "" do %>
                      <i class="fa fa-pencil text-primary"></i>
                    <% end %>
                    <%= link_to day_activity_path(@day, activity), method: :delete, data: { confirm: "You sure?" } do %>
                      <i class="fa fa-remove text-danger"></i>
                    <% end %>
                  <% end %>
                </div>
              </h4>
            </div>
            <div id="collapse<%= index %>" class="panel-collapse collapse <%= "in" if index == 0 %>" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <p><%= activity.description %></p>
                <p><i class="fa fa-map-marker text-danger"></i> <%= activity.address %></p>
                <% if activity.cost %>
                  <p><i class="fa fa-usd text-success"></i> <%= activity.cost %></p>
                <% end %>
                <% if activity.duration %>
                  <p><i class="fa fa-clock-o text-primary"></i> <%= activity.duration %>h</p>
                <% end %>
                <p><% if activity.hardness %>
                  <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="<%= activity.hardness %>" aria-valuemin="0" aria-valuemax="5" style="width: <%= activity.hardness * 20 %>%">
                      Difficulty<span class="sr-only"></span>
                    </div>
                  </div>
                <% end %>
                </p>
                <input type="hidden" class="address" value="<%= activity.address %>">
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <p>
          <%= social_share_button_tag( @day.name, desc: "The summary of page", :popup => "true") %>
        </p>
        <%= link_to "Back", days_path, class: "btn btn-default" %>
        <% if user_signed_in? && current_user.id == @day.user.id %>
          <%= link_to "Edit Day", edit_day_path(@day), class: "btn btn-primary" %>
          <%= link_to "Add Activity", new_day_activity_path(@day), class: "btn btn-primary" %>
          <%= link_to "Delete This Day", @day, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% elsif user_signed_in? && current_user.id != @day.user.id%>
          <%= link_to "Add Review", new_day_review_path(@day), class: "btn btn-primary" %>
        <% end %>
      </div>

      <div class="col-md-6">
        <div id="map" style='height: 400px;'></div>
        <p id="location"> <%= @day.location %></p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Reviews:</h3>
        <% if not @day.reviews.empty? %>
          <% @day.reviews.each do |review| %>
            <%= review.description %><br />
            <%= render "rating", rating: review.rating %><br />
            <small>Author: <b><%= review.user.username %></b></small>
            <hr>
          <% end %>
        <% else %>
          <p>No reviews yet</p>
        <% end %>
      </div>
    </div>
  </div>
</section>
