<!DOCTYPE html>
<html>
<head>
  <title>BestDay</title>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.13&amp;key=AIzaSyAvtDBy64d_40bH-WaUTbjkXWM0Uo12EEo&amp;sensor=false&amp;libraries=geometry"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= controller.action_name %>">

  <%= render 'shared/primary_nav' %>

  <%= yield %>

</body>
</html>
