<!DOCTYPE html>
<html>
<head>
  <title>BestDay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.action_name %>">

  <%= render 'shared/primary_nav' %>

  <%= yield %>

</body>
</html>
